.header {
  padding: 10px;
  border-bottom: 3px solid var(--color-main);
}

.header--primary-nav a {
  color: var(--color-main-500);
  text-decoration: none;
}

.header--primary-nav a:hover {
  color: var(--color-main);
}

.header--main-nav {
  padding: 0px;
  margin: 0px;
}

.header--nav-item {
  list-style: none;
  float: left;
}

.header--nav-link {
  padding: 0px 20px;
  color: var(--color-main-500);
  text-decoration: none;
}

.header--nav-link:hover {
  color: var(--color-main);
}

.header--nav-item .active {
  color: var(--color-main);
}
